@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "./reset.css";

html,
body {
  min-height: 100%;
  font-family: "Lato", sans-serif;
  position: relative;
}
body {
  padding-bottom: 76px;
}
