@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import './reset.css';

html,
body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

body {
  padding-top: 60px;
}
