@import '~leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import './reset.css';
@import './map.css';

html,
body {
  font-family: 'Lato', sans-serif;
}

#root {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
